In [1]:
# 모듈 불러오기 및 데이터 경로 설정
import os
import pandas as pd
os.chdir(r"D:\강의 자료\2008_온라인 강의 머신러닝 성능 향상을 위한 데이터 탐색과 전처리 심화\데이터\실습 데이터")

In [2]:
# 데이터 불러오기
ref_df = pd.read_csv("시승격정보.csv", encoding = "cp949")
df1 = pd.read_excel("인구수데이터.xlsx", sheet_name = "202006")
df2 = pd.read_excel("인구수데이터.xlsx", sheet_name = "201108")

In [3]:
# ref_df를 사전으로 변환
ref_dict = ref_df.set_index('승격전')['승격후'].to_dict() # 인덱스 설정 및 시리즈로 변환

In [4]:
# ref_dict을 이용하여 키 변수 값 변환
df2['행정구역'] = df2['행정구역'].replace(ref_dict)

In [5]:
# df1과 df2에 있는 변수명이 모두 같으므로, 변수명을 수정해야 함
df1.set_index("행정구역", inplace = True) # 행정 구역 변수명은 바꾸지 않기 위해, 인덱스로 설정
df2.set_index("행정구역", inplace = True) # 행정 구역 변수명은 바꾸지 않기 위해, 인덱스로 설정

df1 = df1.add_prefix("202006_")
df2 = df2.add_prefix("201108_")

In [6]:
merged_df = pd.merge(df1, df2, left_index = True, right_index = True)

In [7]:
merged_df.head()

,202006_총인구수,202006_남자인구수,202006_여자인구수,201108_총인구수,201108_남자인구수,201108_여자인구수
행정구역,,,,,,
여주시,111341,56582,54759,109019,55122,53897
당진시,166084,88015,78069,148175,76555,71620
아산시,313054,162398,150656,271356,138150,133206